.logo {
max-height: 100%;
max-width: 80%;
display: flex;
margin: 0 auto;
background: none;
}

.supportedLogo {
    height: 70px;
    display: flex;
    margin: 30px auto;
}

.supportedLogoTall {
    height: 100px;
    display: flex;
    margin: 30px auto;
}

@media screen and (min-width: 767px) {
    .supportedLogo {
        height: 120px;
        margin: 60px auto;
    }
  }

  @media screen and (min-width: 767px) {
    .supportedLogoTall {
        height: 170px;
        margin: 60px auto;
    }
  }