.profileImage {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border-radius: 2%;
  }
  
  .profileImage:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

.title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.p {
  text-align: justify;
}

.sectionCollective {
  padding-bottom: 20px;
}

.recollectiveLogo {
  width: 300px;
}

@media (max-width: 720px) {
  .recollectiveLogo {
      width: 250px
  }
}