
.container {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue';
}

.title {
    font-size: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.image {
    height: 300px;
}

.imageLong {
    height: 250px;
}

.imageVeryLong {
    height: 250px;
}

.imageLowRes {
    width: 30%;
}

@media (max-width: 720px) {
    .image {
        height: 200px;
    }
    .imageLong {
        height: 170px;
    }
    .imageVeryLong {
        height: 145px;
    }
    .imageLowRes {
        width: 70%;
    }
    .container {
        padding-bottom: 0;
    }
    .title {
        display: none;
    }
}
